.tier-chart {

  display: flex;
  flex-direction: column;
  align-items: start;

  width: 760px;
}

.tier-chart-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;

  .tier-chart-title {
    font-size: 2em;
  }
}

.tier-chart-drag-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.tier-chart-grid {
  background: white;
  border: 1px solid black;
  width: 760px;
  height: 680px;
  flex-grow: 0;
  flex-shrink: 0;
  user-select: none;
}

.character-holder {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  flex-grow: 1;
  background: darksalmon;
}

.draggable-box {
  user-select: none;
  border: 1px solid black;
  background: pink;
}

.chart-label {
  font-family: "DejaVu Mono", monospace;
}

.download-btn {
  font-family: "DejaVu Serif", serif;
  font-size: 1.5em;
}

.axis-labels {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  gap: 1em;

  .axis-labels-e-w {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  input {
    width: 250px;
    font-size: 1.5em;
    font-family: "DejaVu Mono", monospace;
  }
}